*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: var(--font);
  background: var(--snow);
  color: var(--text);
  font-size: 14px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: var(--font);
  cursor: pointer;
}

ul, ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
